@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

*{
	margin: 0;
	padding: 0;
	/*font-family: 'Julius Sans One', sans-serif;*/
}

body{

}
header{
	width: 100%;
	height: 50px;
	background: transparent;
	position: fixed;
 	/*box-shadow: 0 1px 8px 0 rgba(0,0,0,0.1);*/
 	z-index: 2;
	transition: all 0.5s;
}


.max-header{
	max-width: 1100px;
	margin: auto;
	color: #344554;
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
a{
	text-decoration: none;
}
.titlelogo{
	font-family: 'Poppins', sans-serif;
	color: #344554;
}

.container-nav{
	list-style: none;
	display: flex;
}

.container-nav li{
	padding: 0 4px;
	font-size: 14px;

}

.container-nav li a{
	color: #5e6265;
    transition: all 0.5s;

}

.ultimolink{
	background:#FF851B;
    padding: 2px 19px;
    border-radius: 2px;
    color: white !important;
    transition: all 0.5s;
}


.banner{
	position: absolute;
	width: 100%;
	height: 100vh;
	background: rgba(255, 201, 3, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;

}

.max-banner{
	margin-top: -80px;
}


.title{
	font-size: 50px;
	font-family: 'Poppins' , sans-serif;
	color: #344554;
	text-align: center;
	color: #5e6265;
}

.span-banner{
	font-size: 17px;
	font-family: 'roboto' , sans-serif;
	text-align: center;
	color: #344554;
	display: block;


}

small{
	color:#9e9e9f; 
	text-align: center;
	display: block;
	line-height: 20px;
}

.btn-links{
	display: block;
    width: 220px;
    background: #FF851B;
    padding:10px 8px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'roboto' , sans-serif;
    transition: all 0.5s;
}


.link-dos{
	border: 1px solid #FF851B;
	background: transparent;
	color: #FF851B;
}

.link-dos:hover{
	background: #FF851B;
	color: white;

}






section#contenedor_general{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: -1;
	background-size: cover;
	background-position: center 0px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wallpaperimg{
	background-image: url(../pictures/wallpaper2.jpg);

}

section#body{
	width: 100%;
	min-height: 300px;
	/*overflow: hidden;*/
	background: white;
}

section#scrolldown{
	margin: auto;
	width: 200px;
	height: 60px;
}

p#titulo{
	text-align: center;
	font-weight: lighter;
	font-size: 1.5em;
	color: white;
}

p#menorque{
	-webkit-transform: rotate(270deg);
	text-align: center;
	color: white;
	font-size: 1.3em;
}

section#seccion{
	width: 100%;
	height: 240px;
	margin-top: 20px;
	background-color: white;
}


.body{
	position: relative;
}

.body img{
	position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    margin: auto;
}


.title-body{
	font-size: 37px;
	text-align: center;
	color: #344554;
	font-family: 'Poppins' , sans-serif;

}


.features{
	max-width: 100%;
	height: 300px;
	background: white;
}


.sub-features{
	max-width: 1100px;
   
    margin: auto;
    display: flex;
    margin-top: 60px;
}

.mini-features{
	width: 350px;
	height: 180px;
	/*background: orange;*/
	padding: 20px
}

.mini-features figure{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mini-features div{
	text-align: center;
}

.mini-features div h3{
	font-family: 'Poppins' ,sans-serif;
	font-size: 25px;
	color: #5e6265;
}

.mini-features div span{
	font-family: 'roboto' , sans-serif;
	color: #868e96;
	font-size: 15px;
}

.despegar-options{
	height: auto;
}

.despegar-options div{
	text-align: left;


}


.contianer-options-despegar{
	margin:40px 0;
}

.title-despegar-options{
	color: #ff8719 !important;
}


.section-contact{
	height: 100vh;
	width: 100%;
	/*background: orange;*/
	display: flex;
}

.contact-left{
	height: 100vh;
	width: 45%;
	background: orange;
	background-image: url(../pictures/arequipa.jpg);
	background-size: cover;

}

.contact-left:before{
	content:'';
	width: 45%;
	height: 100%;
	background:#ff851b91;
	position: absolute;
}

.contact-right{
	height: 100vh;
	width: 55%;
	background: ;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub-contact-right{
	max-width: 500px;
	width: 95%;
	margin: auto;
	/*background: tomato;*/
	/*height: 700px;*/
}

.title-contact{
	font-size: 40px;
	font-family: 'poppins', sans-serif;
	font-size: 30px;
    text-align: center;
    color: #ff851b;
    margin: 35px 0 15px 0;

}

.form-contact{
	width: 100%;
	/*height: 400px;*/
	/*border: 1px solid orange;*/
	border-radius: 10px;

}

.label-form-contact{
	font-size: 20px;
    font-family: 'roboto', sans-serif;
    color: #344554;
    font-weight: 600;

}

.input-form-contact{
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	background:rgb(245, 245, 245);
	border:2px solid transparent;
	padding: 5px;
	border-radius: 5px;
	color: #555;
	font-weight: 600;
	margin:6px 0 18px 0;
	transition: all 0.5s;
    font-family: 'roboto', sans-serif;

}

.text-warning{
	line-height: 20px;
	text-align: center;
	margin: 20px 0;
	font-family: arial;
	font-size:13px;
	color: #9e9e9f;
}


.input-form-contact:focus{
	outline: none;
	border: 2px solid orange;
}

.textarea-form-contact{
	box-sizing: border-box;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 150px;
	min-height: 150px;
	background:rgb(245, 245, 245);
	border:2px solid transparent;
	padding: 5px;
	border-radius: 5px;
	color: #555;
	font-weight: 600;
	margin:6px 0 18px 0;
	transition: all 0.5s;
    font-family: 'roboto', sans-serif;

}
.textarea-form-contact:focus{
	outline: none;
	border: 2px solid orange;
}


.btn-submit-contact{
	width: 100%;
	box-sizing: border-box;
	padding: 8px;
	background: #ff851b;
	border:2px solid orange;
	border-radius: 5px;
	color: white;
}






































